# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
.venv/
venv/
ENV/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Test output
output_test.pptx
*.pptx

# Pytest
.pytest_cache/

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

CloudVisonViewer.json
vti-slide-renderer/output
